server:
 port: 8081
 servlet:
  context-path: /tuling01
spring:
 profiles:
  active: dev
 
---
#开发环境配置
spring: 
 profiles: dev
server:
 port: 8082
---
#生产环境配置
spring:
 profiles: prod
server:
 port: 8083 